<body style="background-color:#1d1e1f;">

<% if user_signed_in? %>

  <% if !@nameCookies.empty?
  helloName = cookies.signed[:auth_token] %>

    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Welcome to Retro Explorer, <%= @u_name %> !</h4>
    </div>
  <% end %>

  <div class="p-3 mb-2 bg-gradient outline <%= @apiColour %> ">
    <div class="container">
      <h1 class="display-4 whiteTxt"><%= @locationName %>, <%= @stateName %></h1>
      <p class="whiteTxt">
        <%= @description %>
      </p>
      <p class="whiteTxt">Air Quality -> <%= @aqiTweakedLabel %></p>
      <!-- <p class="whiteTxt">Air Quality Pre-Collapse -> <%= @aqiOriginalLabel %></p> -->
      <hr class="my-4">
      <p class="whiteTxt">Explore the area to gather data and find relics of a forgotten past. </p>
      <div class="d-grid gap-2">
        <%= link_to 'Search the Area', new_relic_path, class: "btn btn-outline-light"%>
      </div>
      <hr class="my-4">
      <p class="whiteTxt">Travel to a new location.</p>
      <%= link_to 'Change Location', edit_user_registration_path , class: "btn btn-outline-light"%>
      <br/>
    </div>
  </div>


<% else %>

<div class="p-3 mb-2 bg-gradient outline <%= @apiColour %> ">
  <div class="container">
    <h1 class="display-4 whiteTxt">Retro Explorer</h1>
    <hr class="my-4">
    <p class="whiteTxt">
      Retro Explorer is a game in which you explore the remains of Earth decades after an environmental disaster.
      Collect relics and projections, or leave messages for future generations of explorers.
    </p>
    <hr class="my-4">
    <div class="d-grid gap-2">
      <%= link_to 'Play', new_user_session_path , class: "btn btn-light"%>
    </div>
    <hr class="my-4">
  </div>
</div>

<% end %>


<br/>
